<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egoists.coco_nut.android"
    android:versionCode="1"
    android:versionName="0.0.1" >
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name_locale"
        android:theme="@style/Theme.Coconut"
        android:name="com.egoists.coco_nut.android.BaasioApplication" >
        <activity
            android:name="com.egoists.coco_nut.android.login.LoginActivity_"
            android:label="@string/app_name_locale"
            android:theme="@style/Theme.NoActionBar" >
        </activity>
        <activity
            android:name="com.egoists.coco_nut.android.login.SignupActivity_"
            android:label="@string/app_name_locale"
            android:theme="@style/Theme.NoActionBar" >
        </activity>
        <activity
            android:name="com.egoists.coco_nut.android.project.ProjectSelectionActivity_"
            android:label="@string/app_name_locale" >
        </activity>
        <activity
            android:name="com.egoists.coco_nut.android.project.ProjectCreationActivity_"
            android:label="@string/app_name_locale" >
        </activity>
        <activity
            android:name="com.egoists.coco_nut.android.project.ProjectInvitationActivity_"
            android:label="@string/app_name_locale"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.egoists.coco_nut.android.kanban.KanbanActivity_"
            android:label="@string/app_name_locale" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.egoists.coco_nut.android.kanban.KanbanSettingActivity"
            android:label="@string/app_name_locale" >
        </activity>
        <activity
            android:name="com.egoists.coco_nut.android.kanban.card.CardCreationActivity_"
            android:label="@string/app_name_locale" >
        </activity>
        <activity
            android:name="com.egoists.coco_nut.android.kanban.card.detail.CardDetailActivity_"
            android:label="@string/app_name_locale" >
        </activity>
    </application>
</manifest>
